html{
    scroll-snap-type: y mandatory;

}

.App{
    height: 100vh;
    
    background-color: #fafafa;

    display: grid;
    place-items: center;
}

.app__videos{
    height: 100vh;
    max-height: 800px;
    width: 80%;
    max-width: 500px;

    border: 1px solid black;
    border-radius: 20px;

    overflow: scroll;
    
    position: relative;

    scroll-snap-type: y mandatory;
}

/* Esconde a scrollbar no chrome, safari e opera */

.app__videos::-webkit-scrollbar{
    display: none;
}

/* Esconde a scrollbar no internet explorer, edge e firefox */

.app-videos{
    -ms-overflow-style: none;
    scrollbar-width: none;
}